.trending-products {
   padding-top: 5rem;
    min-height: 32rem;
    height: auto;
    margin-left: 25px;
  }
  
  .product-list {
    margin-top: 10px;
    display: inline-flex;
    gap: 50px;
    height: auto;
  }
  
  .product-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-width: 300px; /* Set maximum width for the product item */

}

.product-image {
  width: 100%;
  max-height: 200px; /* Set maximum height for the product image */
  border-radius: 5px;
}

.product-details {
  margin-top: 10px;

}

.product-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-category,
.product-price {
  font-size: 14px;
  margin-bottom: 5px;
}
